.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

* {
    margin: 0;
    padding: 0;
}

body {
    padding: 60px;
    background-color: #ddd;
    color: #333;
    font-family: Ubuntu, Verdana, sans-serif;
}

.field {
    width: 30px;
    height: 30px;
    float: left;
}

.minesweeper {
    margin-bottom: 30px;
    display: inline-block;
    background: white;
    border: 15px solid white;
}

.minesweeper .row {
    clear: both;
}

.minesweeper button.cell {
    width: 100%;
    height: 100%;
    border: 1px outset #ccc;
}

.minesweeper button.cell.revealed {
    border: 1px solid #ddd;
    background-color: #eee;
}

.result {
    width: 150px;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
    color: #fff;
    font-weight: bold;
}
.win {
    background: green;
}
.loss {
    background: red;
}
